In [1]:
# 101
# bool 타입

In [3]:
# 102
# false
print(3 ==5)

False

In [4]:
# 103
# true
print(3<5)

True

In [5]:
# 104
# true
x = 4
print(1<x<5)

True

In [6]:
# 105
# true
print((3==3) and (4 !=3))

True

In [7]:
# 106
# >= 로 해야 함
print(3 >= 4)

False

In [8]:
# 107
# 아무것도 출력하지 않음
if 4<3:
    print("hello world")

In [9]:
# 108
# hi, there.
if 4 < 3:
    print('hello world.')
else:
    print('hi, there.')

hi, there.

In [10]:
# 109
#1 2 4
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

1
2
4

In [11]:
# 110
# 3 5
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

3
5

In [13]:
# 111
a = input()
print(a*2)

안녕하세요
안녕하세요안녕하세요

In [14]:
# 112
a = int(input('숫자를 입력하세요: '))
print(a+10)

숫자를 입력하세요: 30
40

In [15]:
# 113
a = int(input())
if a % 2 == 0:
    print('짝수')
else:
    print('홀수')

30
짝수

In [19]:
# 114
a = int(input('입력값: '))

if a + 20 > 255:
    print('출력값: ', 255)
else:
    print('출력값: ', a+20)

입력값: 200
출력값:  220

In [23]:
# 115
a = int(input('입력값: '))
b = a -20

if b < 255 and b > 0:
    print('출력값: ', b)
elif b < 0 :
    print('출력값: ', 0)
else:
    print('출력값: ', 255)

입력값: 300
출력값:  255

In [25]:
# 116
time = input('현재시간: ')
t = time.split(':')

if t[1] == '00':
    print('정각입니다.')
else:
    print('정각이 아닙니다.')

현재시간: 03:10
정각이 아닙니다.

In [26]:
# 117
fruit = ["사과", "포도", "홍시"]
user = input('좋아하는 과일은? ')

if user in fruit:
    print('정답입니다.')
else:
    print('오답입니다.')

좋아하는 과일은? 사과
정답입니다.

In [28]:
# 118
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
user = input()

if user in warn_investment_list:
    print('투자 경고 종목입니다.')
else:
    print('투자경고종목이 아닙니다.')

Naver
투자 경고 종목입니다.

In [32]:
# 119
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input()

if user in fruit.keys():
    print('정답입니다.')
else:
    print('오답입니다')

딸기
오답입니다

In [30]:
# 120
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input()

if user in fruit.values():
    print('정답입니다.')
else:
    print('오답입니다')

가을
오답입니다

In [33]:
# 121
user = input()

if user.islower():
    print(user.upper())
else:
    print(user.lower())

a
A

In [36]:
# 122
score = int(input('score: '))

if score >= 81 and score <=100:
    print('grade is A')
elif score >= 61 and score <= 80:
    print('grade is B')
elif score >= 41 and score <= 60:
    print('grade is C')
elif score >= 21 and score <= 40:
    print('grade is D')
elif score >= 0 and score <= 20:
    print('grade is E')

score: 99
grade is A

In [54]:
# 123
user = input('입력: ')
exc = {'달러':1167, '엔':1.096, '유로':1268, '위안':171}

val,unit = user.split( )
print(float(exc[unit])*float(val), '원')

입력: 100 달러
116700.0 원

In [60]:
# 124
n1 = int(input('number1: '))
n2 = int(input('number2: '))
n3 = int(input('number3: '))

ans = list()
ans.append(n1)
ans.append(n2)
ans.append(n3)

print(max(ans))

number1: 45
number2: 2
number3: 90
90

In [67]:
# 125
tel = {'SKT':'011', 'KT':'016', 'LGU':'019', '알수없음':'010'}
num = input('휴대전화 번호 입력: ')
n1 = str(num.split('-')[0])

if n1 == '011':
    print('당신은 SKT 사용자입니다.')
elif n1 == '016':
    print('당신은 KT 사용자입니다.')
elif n1 == '019':
    print('당신은 LGU 사용자입니다.')
else:
    print('당신은 알수없음입니다.')

휴대전화 번호 입력: 010-3859-2395
당신은 알수없음입니다.

In [70]:
# 126
adr = {'강북구': (0,1,2),
      '도봉구' : (3,4,5),
      '노원구' : (6,7,8,9)}
user = input('우편번호: ')
num = user[2]

if num in (adr['강북구']):
    print('강북구')
elif num in (adr['도봉구']):
    print('도봉구')
else:
    print('노원구')

우편번호: 01400
노원구

In [94]:
# 127
user = input('주민등록번호: ')
n1 = user.split('-')[1]

if n1[0] in ('1', '3'):
    print('남자')
else:
    print('여자')

주민등록번호: 821010-1635210
남자

In [96]:
# 128
user = input('주민등록번호: ')
a = user.split('-')[1]
num = int(a[1:3])

if num in range(0,9):
    print('서울 입니다.')
else:
    print('서울이 아닙니다.')

주민등록번호: 861010-1015210
서울 입니다.

In [101]:
# 130
#import requests
#btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

#print(btc)
변동폭 =float(btc['max_price']) - float(btc['min_price'])
장 = float(btc['opening_price']) + 변동폭

if 장 > float(btc['max_price']):
    print('상승장')
else:
    print('하락장')

상승장

In [102]:
# 131
#사과 귤 수박
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [103]:
# 132
# ##### ##### #####
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

#####
#####
#####

In [104]:
# 133
변수 = "A"
print(변수)
변수 = "B"
print(변수)
변수 = "C"
print(변수)

A
B
C

In [105]:
# 134
변수 = "A"
print("출력:", 변수)
변수 = "B"
print("출력:", 변수)
변수 = "C"
print("출력:", 변수)

출력: A
출력: B
출력: C

In [106]:
# 135
변수 = "A"
b = 변수.lower()
print("변환:", b)
변수 = "B"
b = 변수.lower()
print("변환:", b)
변수 = "C"
b = 변수.lower()
print("변환:", b)

변환: a
변환: b
변환: c

In [107]:
# 136

for 변수 in (10, 20, 30):
    print(변수)

10
20
30

In [108]:
# 137

for 변수 in (10, 20, 30):
    print(변수)

10
20
30

In [109]:
# 138
for 변수 in (10, 20, 30):
    print('------')

------
------
------

In [110]:
# 139
for 변수 in ('++++', 10, 20, 30):
    print(변수)

++++
10
20
30

In [111]:
# 140
for 변수 in range(0,4):
    print('------')

------
------
------
------

In [112]:
# 141
리스트 = [100, 200, 300]
a = 0
for a in 리스트:
    print(a+10)

110
210
310

In [113]:
# 142
리스트 = ["김밥", "라면", "튀김"]

for menu in 리스트:
    print('오늘의 메뉴: ', menu)

오늘의 메뉴:  김밥
오늘의 메뉴:  라면
오늘의 메뉴:  튀김

In [115]:
# 143
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]

for 변수 in 리스트:
    print(len(변수))

6
4
4

In [116]:
# 144
리스트 = ['dog', 'cat', 'parrot']

for a in 리스트:
    print(a, len(a))

dog 3
cat 3
parrot 6

In [117]:
# 145
for a in 리스트:
    print(a[0])

d
c
p

In [118]:
# 146
리스트 = [1, 2, 3]

for a in 리스트:
    print('3 x ',a)

3 x  1
3 x  2
3 x  3

In [119]:
# 147
for a in 리스트:
    print('3 x', a, '=', 3*a)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [129]:
# 148
리스트 = ["가", "나", "다", "라"]

for 변수 in 리스트[1:]:
    print(변수)

나
다
라

In [123]:
# 149
for 변수 in 리스트[::2]:
    print(변수)

가
다

In [130]:
# 150

for 변수 in 리스트[::-1]:
    print(변수)

라
다
나
가