# Wikidocs 문제 풀기 _ 001 ~ 050
참고 링크 : https://wikidocs.net/7014

In [1]:
# 1
print("Hello World")

Hello World

In [2]:
# 2
print("Mary's cosmetics")

Mary's cosmetics

In [3]:
# 3
print('신씨가 소리질렀다. "도둑이야"')

신씨가 소리질렀다. "도둑이야"

In [4]:
# 4 
print('C:\Windows')

C:\Windows

In [6]:
# 5
print("안녕하세요. \n만나서\t\t반갑습니다.") # 줄바꿈 vs 탭

안녕하세요.
만나서		반갑습니다.

In [7]:
# 6
print("오늘은", "일요일")

오늘은 일요일

In [8]:
# 7
print('naver', 'kakao', 'sk', 'samsung', sep=';')

naver;kakao;sk;samsung

In [9]:
# 8
print('naver', 'kakao', 'sk', 'samsung', sep='/')

naver/kakao/sk/samsung

In [11]:
# 9
print('first');print('second')
print('first', end='');print('second')

first
second
firstsecond

In [12]:
# 10
print(5/3)

1.6666666666666667

In [14]:
# 11
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [15]:
# 12
시가총액 = 298000000000000
현재가 = 50000
per = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(per, type(per))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [17]:
# 13
s = 'hello'
t = 'python'
print(s, t, sep='! ')

hello! python

In [18]:
# 14
2+2*3

8

In [20]:
# 15
a =132
print(type(a))

<class 'int'>

In [22]:
# 16
num_str = '720'
num_int = int(num_str)
print(type(num_int))

<class 'int'>

In [23]:
# 17
num = 100
str_num = str(num)
print(type(str_num))

<class 'str'>

In [25]:
# 18
n = float(15.79)
print(n, type(n))

15.79 <class 'float'>

In [27]:
# 19
year = '2020'
int_year = int(year)
print(int_year-2, int_year-1, int_year)

2018 2019 2020

In [28]:
# 20
month = 48584
총금액 = month * 36
print(총금액)

1749024

In [30]:
# 21
letters = 'python'
print(letters[0],letters[2])

p t

In [31]:
# 22
license_plate = '24가 2210'
print(license_plate[-4:])

2210

In [32]:
# 23
string = '홀짝홀짝홀짝'
print(string[::2])

홀홀홀

In [35]:
# 24
string = 'python'
print(string[::-1])

nohtyp

In [38]:
# 25
phone_number = '010-1111-2222'
print(phone_number.split('-'))

['010', '1111', '2222']

### 오답_25번

In [39]:
phone_number2 = phone_number.replace('-',' ')
print(phone_number2)

010 1111 2222

---

In [41]:
# 26
print(phone_number.replace('-',''))

01011112222

In [42]:
# 27
url = "http://sharebook.kr"
domain = url.split('.')
print(domain[-1])

kr

### 28번
```

lang = 'python'
lang[0] = 'p' # 이뮤터블이라 수정불가 !!
print(lang)
```

In [45]:
# 29
string = 'abcdfe2a354a32a'
print(string.replace('a','A'))

Abcdfe2A354A32A

In [47]:
# 30
string = 'abcd'
string.replace('b','B')
print(string) # 변경할 수 없으므로 그냥 맨 처음 저장한 객체 그대로 출력

abcd

In [49]:
# 31
a ='3'
b ='4'
print(a+b)

34

In [54]:
# 32
print('hi' * 3)

hihihi

In [55]:
# 33
print('-'*80)

--------------------------------------------------------------------------------

In [53]:
# 34
t1 = 'python'
t2 = 'java'
t3 = t1+' '+t2+' '
print(t3 *4)

python java python java python java python java

In [57]:
# 35
name1 = '김민수'
age1 = 10
name2 = '이철희'
age2 = 13
print('이름: %s 나이: %d'%(name1, age1))
print('이름: %s 나이: %d'%(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [60]:
# 36
print('이름: {} 나이: {}'.format(name1, age1))
print('이름: {} 나이: {}'.format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [61]:
# 37
print(f'이름: {name1} 나이: {age1}')
print(f'이름: {name2} 나이: {age2}')

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [63]:
# 38
상장주식수 = "5,969,782,550"
delete = 상장주식수.replace(',','')
chage = int(delete)
print(chage, type(chage))

5969782550 <class 'int'>

In [65]:
# 39
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [67]:
# 40
data = ' 삼성전자 '
data.strip()

'삼성전자'

In [68]:
# 41
ticker = "btc_krw"
ticker.upper()

'BTC_KRW'

In [69]:
# 42
ticker = "BTC_KRW"
ticker.lower()

'btc_krw'

In [70]:
# 43
a = 'hello'
a.capitalize()

'Hello'

In [71]:
# 44
file_name = "보고서.xlsx"
file_name.endswith('xlsx')

True

In [74]:
# 45
file_name.endswith(('xlsx', "xls"))

True

In [75]:
# 46
file_name = "2020_보고서.xlsx"
file_name.startswith('2020')

True

In [76]:
# 47 
a = 'hello world'
a.split()

['hello', 'world']

In [77]:
# 48
ticker = 'btc_krw'
ticker.split('_')

['btc', 'krw']

In [80]:
# 49
date = '2020-05-01'
date.split('-')

['2020', '05', '01']

In [81]:
# 50
data = "039490     "
data.rstrip()

'039490'